@use "@/styles/theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700;800&display=swap");
@import "../node_modules/modern-normalize/modern-normalize.css";

html {
  background-color: theme.$background;
  height: 100%;
}

body {
  font-family: Alice;
  height: 100%;
}

#root {
  height: 100%;
}
