@use "@/pages/Portfolio/PortfolioRegiM/RegiMTheme.module.scss";

$horizontalPadding: 16px;
$verticalPadding: 10px;
$verticalPaddingTypeBig: 12px;
$borderRadius: 6px;
$fontSizeNormal: 14px;
$fontSizeBig: 16px;
$lineHeight: 20px;
$lineHeightTypeBig: 24px;
$height: 40px;
$heightTypeBig: 48px;

.button {
  padding: $verticalPadding $horizontalPadding;
  background-color: RegiMTheme.$primary;
  color: RegiMTheme.$fontPrimary;
  border-radius: $borderRadius;
  font-weight: 600;
  letter-spacing: 0.01em;
  font-feature-settings: "liga" off;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &TypeNormal {
    height: $height;
    font-size: $fontSizeNormal;
    line-height: $lineHeight;
  }

  &TypeBig {
    height: $heightTypeBig;
    font-size: $fontSizeBig;
    line-height: $lineHeightTypeBig;
    padding-top: $verticalPaddingTypeBig;
    padding-bottom: $verticalPaddingTypeBig;
  }
}
